/* estilos3.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.delete-button {
    color: red;
    font-weight: bold;
    margin-left: 10px;
}

/* Alineación de botones */
.button-container {
    display: flex;
    justify-content: flex-end; /* Alinear al lado derecho */
    margin-top: 20px;
}

.add-button,
.logout-button {
    display: inline-block;
    margin-left: 10px;
    padding: 10px 15px;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}

.add-button:hover,
.logout-button:hover {
    background: #0056b3;
}

.error {
    color: red;
}
